doctype 5
html
  head
    block title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/boxes.css')
    link(rel='stylesheet', href='/css/lists.css')
    link(rel='stylesheet', href='/css/slider.css')
    link(rel='stylesheet', href='/css/viewers.css')
    link(rel='stylesheet', href='/css/tabs.css')
    link(rel='stylesheet', href='/css/toggles.css')
    link(rel='stylesheet', href='/css/buttons.css')
    link(rel='stylesheet', href='/css/columns.css')
    link(rel='stylesheet', href='/css/flexslider.css')
    link(rel='stylesheet', href='/css/custom.css')
  body
    #page
      #page-top.container.clearfix
        #pre-header
        header#header.clearfix(role="banner")
          hgroup#logo-wrapper
            h1
              a#logo(href='/', id='index_link')
                img(src="/images/logo.png")
          #navigation-wrapper.clearfix
            nav#main-navigation.main-menu
              ul#menu-top-menu.sf-menu
                li.menu-item
                  a(href="/admin") Posts
                li.menu-item
                  a(href="/admin/new") New Post
                li.menu-item
                  a(href="/admin/logout") Log out
      #content.container.clearfix
        .container.clearfix
          - var successMsgs = success()
          - if (successMsgs)
            #success.successbox
              =successMsgs
          - var errorMsgs = errors()
          - if (errorMsgs)
            #errors.cancelbox
              =errorMsgs
          block content
