doctype 5
html
  head
    block title
    != css('style')
  body
    #page
      #page-top.container.clearfix
        #pre-header
        header#header.clearfix(role="banner")
          hgroup#logo-wrapper
            h1
              a#logo(href='/', id='index_link')
                img(src="/images/logo.png")
          #navigation-wrapper.clearfix
            nav#main-navigation.main-menu
              ul#menu-top-menu.sf-menu
                li.menu-item
                  a(href="/admin") Posts
                li.menu-item
                  a(href="/admin/new") New Post
                li.menu-item
                  a(href="/admin/logout") Log out
      #content.container.clearfix
        .container.clearfix
          - var successMsgs = success()
          - if (successMsgs)
            #success.successbox
              =successMsgs
          - var errorMsgs = errors()
          - if (errorMsgs)
            #errors.cancelbox
              =errorMsgs
          block content

    != js('script')
