mixin footer()
  footer#footer
    .container.clearfix
      .one-fourth.widget-container
        h1 Recent Posts
        ul
          li
            a(href='') In egestas porta tortor sed imperdiet
          li
            a(href='') Nulla hendrerit vestibulum adipiscing
          li
            a(href='') Donec fermentum odio et turpis
          li
            a(href='') Sed rhoncus mollis porta
          li
            a(href='') Vivamus id ante neque
      .one-fourth.widget-container
        h1 Blogroll
        ul
          each link in config.links
            li
              a(href=link.link, target="_blank")= link.name
      .one-fourth.widget-container
        h1 Something
    #copyrights
      .container.clearfix
        span.right
          a.backtotop(href='#') ↑
        ='Originally designed by Site5 WordPress Themes. BYVoid modified.'
