mixin footer()
  footer#footer
    .container.clearfix
      .one-fourth.widget-container
        h1 Recent Posts
        ul
          each post in recentPosts
            li
              a(href=langLink('/' + post.id))= postTitle(post)
      .one-fourth.widget-container
        h1 Blogroll
        ul
          each link in config.links
            li
              a(href=link.link, target="_blank")= link.name
      .one-fourth.widget-container
        h1 Something
    #copyrights
      .container.clearfix
        span.right
          a.backtotop(href='#') ↑
        ='Originally designed by Site5 WordPress Themes. BYVoid refactored with Node.js, less, jade and CoffeeScript.'
