doctype 5
html
  head
    block title
    link(rel='stylesheet', href='/css/style.css')
  body
    #contents
      block content
    script(src='/js/jquery-1.8.2.js')
    script(src='/js/jade.js')
    script(src='/js/' + assetsJit('continuation', 'models/model.coffee', 'models/model.js'))
    script(src='/js/' + assetsJit('continuation', 'models/post.coffee', 'models/post.js'))
    script(src='/js/' + assetsJit('continuation', 'views/view.coffee', 'views/view.js'))
    script(src='/js/' + assetsJit('continuation', 'views/post.coffee', 'views/post.js'))
    script(src='/js/' + assetsJit('continuation', 'controllers/controller.coffee', 'controllers/controller.js'))
    script(src='/js/' + assetsJit('continuation', 'controllers/post.coffee', 'controllers/post.js'))
    block scripts
