include includes/header
include includes/side
include includes/footer
doctype 5
html
  head
    != css('style')
    - if (language)
      != css(language)
    link(rel="alternate", type="application/rss+xml", title="RSS Feed", href="/feed")
    block title
  body
    #page
      #page-top.container.clearfix
        mixin preheader()
        mixin header()
      #content.container.clearfix
        .container.clearfix
          block banner-image
            img.intro-img(src="/images/banner-bg-0.jpg")
        #content-main.three-fourth
          block content
        #content-side.one-fourth.last
          mixin sidebar()
      mixin footer()
    != js('script')
    block scripts
