extends layout
include includes/post
include includes/pagination

block title
  title= '首䈎'

block banner-image
  img.intro-img(src="/images/banner-bg-3.jpg")

block content
  #main.postlist(role="main")
    each post in posts
      mixin post(post)
    mixin pagination(postId)

block scripts
  script
    history.replaceState('postlist');
