extends layout
include includes/post

block title
  title= '首䈎'

block banner-image
  img.intro-img(src="/images/banner-bg-3.jpg")

block content
  h1= 'Posts'
  #main.postlist(role="main")
    each post in posts
      mixin post(post)

block scripts
  script
    history.replaceState('postlist');
