@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/Ewe0SEXPrakEimFzbOGwB6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-image: url('../images/main-bg2.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Dosis', sans-serif
}
