@body-font-family: 'Arial', 'Verdana', 'Lantinghei TC', 'Heiti TC', 'MS Mincho', 'MingLiU', sans-serif;
@header-font-family: 'Dosis', 'Arial', 'Verdana', 'LiSong Pro Light', 'MS Mincho', 'MingLiU', serif;
@monospace: Courier, 'Liberation Mono', Consolas, monospace;

@white: #FFF;
@black: #000;
@grayDarker: #222;
@grayDark: #444;
@gray: #555;
@grayLight: #999;
@grayLighter: #eee;

@article-font-color: @grayDark;
@link-color-hover: #9DCEDF;
@link-color: darken(@link-color-hover, 50%);

@page-width: 1020px;
@page-width-inner: @page-width - 80px;
@article-page-width: 700px;
@article-width: 555px;
@article-meta-width: 125px;

@article-meta-font-size: 12px;
